
.hearder {
    background-color: hsl(193, 100%, 96%);
    height: auto;
    background-image: url(images/bg-hero-mobile.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

.nav-logo {
    padding: 30px;
    display: grid;
    grid-template-columns: auto auto;
    
}

.logo-img {
    width: 150px;
}

.logo-btn {
    justify-self: end;
}

.btn {
    border-radius: 20px;
    width: 100px;
    color: hsl(208, 11%, 55%);
    background-color: #fff;
}


.second-button {
    background-color: hsl(322, 100%, 66%);
    font-size: 12px;
    font-weight: 400;
}

.third-button {
    background-color: hsl(322, 100%, 66%);
    font-weight: 400;
    color: #fff;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

.card {
    color: hsl(192, 100%, 9%);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 12px;
    border-radius: 8px;
    width: fit-content;
}

.footer {
    color: #fff;
    margin-top: 200px;
    background-color: hsl(192, 100%, 9%);
    
}

.footer-content {
    letter-spacing: 3px;
    font-size: 15px;
    justify-content: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.first-footer-col {
    display: grid;
    grid-template-columns: 30px auto;
}

@media screen and (min-width: 740px) {
    .hearder {
        background-image: url(images/bg-hero-desktop.svg);
    }
}

@media screen and (min-width: 992px) {
    .footer-logo-img {
        margin-left: 120px;
        margin-bottom: 40px;
    }

    .nav-logo {
        padding: 70px;
        
    }
    
    .logo-img {
        width: 160px;
    }
}