
.hearder {
    background-color: hsl(193, 100%, 96%);
    height: auto;
    background-image: url(images/bg-hero-mobile.svg);
    background-repeat: no-repeat;
    background-size: cover;
}



.btn {
    border-radius: 20px;
    width: 150px;
    color: hsl(208, 11%, 55%);
    background-color: #fff;
}

.nav-logo {
    padding: 70px;
    
}
.second-button {
    background-color: hsl(322, 100%, 66%);
    font-size: 12px;
    font-weight: 400;
}

.third-button {
    background-color: hsl(322, 100%, 66%);
    font-weight: 400;
    color: #fff;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

.card {
    color: hsl(192, 100%, 9%);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 12px;
    border-radius: 8px;
    width: fit-content;
}

.footer {
    color: #fff;
    margin-top: 200px;
    background-color: hsl(192, 100%, 9%);
    
}


@media screen and (min-width: 1024px) {
    .hearder {
        background-image: url(images/bg-hero-desktop.svg);
    }

}
@media screen and (min-width: 768px) {

}